* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Share Style */
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}

.primary-btn {
  background-color: #30b868;
  border: none;
  border-radius: 4px;
  padding: 12.5px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

/* Header Section Style */

header {
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;

  align-items: center;
}

header .header-logo img {
  max-width: 160px;
}
header .header-nav {
  display: flex;
  gap: 32px;
}
header .header-nav li a {
  color: #000000;
  text-transform: capitalize;
  line-height: 152%;
  font-weight: 500;
}
