* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Share Style */
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}

.primary-btn {
  background-color: #30b868;
  border: none;
  border-radius: 4px;
  padding: 12.5px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.secondary-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 500;
}

/* Header Section Style */

header {
  display: flex;
  justify-content: space-between;
  padding: 16px 140px;

  align-items: center;
}

header .header-logo img {
  max-width: 160px;
}
header .header-nav {
  display: flex;
  gap: 32px;
}
header .header-nav li a {
  color: #000000;
  text-transform: capitalize;
  line-height: 152%;
  font-weight: 500;
}

/* Hero Section Css */
.hero-section {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  max-height: 700px;
  height: 680px;
  padding: 115px 140px 180px 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-access-btn {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  color: #30b868;
  display: flex;
  justify-content: center;
  font-size: 16px;
  text-transform: capitalize;
  align-items: center;
  padding: 8px 12px;
  gap: 2px;
}
.hero-access-btn .circle {
  border: 1px solid rgb(48, 184, 104);
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.hero-access-btn .circle i {
  font-size: 8px;
}

.hero-section h1 {
  color: white;
  text-transform: capitalize;
  margin: 16px auto;
  line-height: 84px;
  text-align: center;
  font-size: 72px;
  opacity: 0.9;
}
.hero-section h1 span {
  color: #30b868;
}
.hero-section-des {
  color: #fff;
  line-height: 24px;
  font-weight: 18px;
  text-align: center;
  margin-bottom: 32px;
}

.hero-section .hero-section-btn {
  display: flex;
  gap: 16px;
}

/* Notes Section  Section Css */

#early_access {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 140px 140px 140px;
#notes_section {
  text-align: center;
  width: 100vw;
  padding: 80px 120px 120px 120px;
  background-color: rgba(221, 221, 221, 0.2);
}

.section_content {
  mask-border: 44px;
}

.section_content h2 {
  font-size: 48px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.section_content p {
  color: #627382;
  font-size: 16px;
}

.section_info {
  display: flex;
  gap: 20px;
  margin-top: 44px;
}

.section_card {
  background-color: #fff;
  padding: 70px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card_icon {
  width: 60px;
  height: 60px;
  background: #f95555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_icon i {
  color: #fff;
  font-size: 30px;
}
.card_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card_info h4 {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;

  max-width: 80%;
  margin: auto;
}
.card_info p {
  line-height: 24px;
  max-width: 80%;
  margin: auto;
}

/* Brain Section Css */

#brain-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0px 140px;
}

.brain-image-section {
  /* min-width: 50vw; */
  max-width: 700px;
}
.brain-image-section img {
  max-width: 700px;
}

.brain-section-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.brain-section-content .subtitle {
  text-transform: uppercase;
  color: #30b868;
}
.brain-section-content h4 {
  font-weight: 700;
  color: black;
  max-width: 60%;
  font-size: 48px;
  text-transform: capitalize;
}

.brain-section-content p {
  color: #627382;
  font-size: 16px;
  max-width: 60%;
  line-height: 24px;
}
.brain-section-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.brain-section-list li {
  font-size: 14px;
}
.brain-section-list li .check i {
  color: #30b868;
}
